<form method="get" action="/quizes/<%= quiz.id %>/answer">
	Temática: <%= quiz.tema %> <p>
	Pregunta: <%= quiz.pregunta %> <p>
	<input type="text" name="respuesta" value="Respuesta"/>
	<input type="submit" value="Enviar">
</form>

<div><p><a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a></p>
</div>
<div>
<p><strong>Comentarios:</strong></p>
</div>

<% for (index in quiz.comments) { %>
	<% if (quiz.comments[index].publicado || session.user) { %>
		<% if (session.user && !quiz.comments[index].publicado) { %>

			<form method="post" action="/quizes/<%= quiz.id %>/comments/<%= quiz.comments[index].id %>/publish?_method=put">
				<p>- <%= quiz.comments[index].texto %>

				<button type="submit">
					Aprobar
				</button>
			</form>

		<% } else { %>
				<p>- <%= quiz.comments[index].texto %>
		<% } %>

		</p>
	<% } %>
<% } %>