<form method="get" action="/quizes/<%= quiz.id %>/answer">
	Temática: <%= quiz.tema %> <p>
	Pregunta: <%= quiz.pregunta %> <p>
	<input type="text" name="respuesta" value="Respuesta"/>
	<input type="submit" value="Enviar">
</form>

<p><a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a></p>

<p><strong>Comentarios:</strong></p>
<%for(index in quiz.comments) {%>
	<p>- <%=quiz.comments[index].texto%></p>
<%}%>